/* 

1. Add your custom Css styles below
2. Place the this code in your template: 

 <link href="asset/css/custom.css" rel="stylesheet">

*/
header.sand-module {
    position: relative !important;
    top: 0px !important;
    right: 0px !important;
    width: auto !important;
    height: auto !important;
    z-index: 3 !important;
}
/** REBOOT **/
dl, ol, ul {
    margin: 0;
}
/** BRAND **/
#logo {
    float: left;
}
#logo > a {
    color: white;
    font-size: 2rem;
    text-transform: capitalize;
    text-decoration: none;
}
/** Footer **/
.footer-content{
    padding-top: 25px;
    background-color: whitesmoke;
}
.copyright-content{
    background-color: lightgrey;
}
/** Donate Footer **/
.section-title {
    text-align:center;
    font-family:Panton,sans-serif;
    font-size:5rem;
    color:slategrey;
    padding-top:1rem;
    padding-bottom:1rem
}
.button:focus,.button:hover {
    text-decoration: none;
    color: #ff974a;
}
.button-secondary {
    background: #f48d40;
}
.button{
    background: antiquewhite;
    color: whitesmoke;
}
.beer-button {
    display: inline-block;
    position: relative;
    width: 250px;
    border: 2px solid transparent;
    margin: 0 auto;
    margin-left: auto;
    padding: 23px 30px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-decoration: none;
    border-radius: 50px;
    text-align: center;
    -webkit-transition: color 150ms,background-color 150ms;
    -o-transition: color 150ms,background-color 150ms;
    transition: color 150ms,background-color 150ms;
}
.donate-footer {
    text-align: center;
    background: antiquewhite;
}
/** Content **/
#page-content {
    padding-bottom: 2rem;
}

/** SubBar **/
#subbar{
    height: 1.2rem;
    background-color: antiquewhite;
    font-size: 0.7rem;
}
/** Breadcrumbs **/
#breadcrumbs{
    clear:both;
    height: 1.2rem;
    background-color: whitesmoke;
    font-size: 0.7rem;
}
.breadcrumb-sand {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0;
    margin-bottom: 1rem;
    list-style: none;
}
/** Page content spacing **/
#page-content{
    padding-top: 2rem;
}
/** Top menu bar ,invisible on mobile**/
.top-menu{
    display: flex;
    justify-content: end;
}
.top-menu > li {
    font-size: 0.7rem;
    list-style: none;
    padding: 0.5rem;
}
.top-menu > li:hover{
    background-color: slategrey;
}
.top-menu > li > a{
    color:darkslategray;
    text-decoration: none;
}
.top-menu > li > a:hover{
    color: black;
}

/** Menu de navigation **/
nav > ul {
    display:flex;
    justify-content: start;
}
nav > ul > li {
    list-style: none;
    padding: 1rem;
}
nav > ul > li:hover{
    background-color: slategrey;
}
nav > ul > li > a {
    color: white;
    text-decoration: none;
}
ul.top-menu > li > a {
    color: white;
    text-decoration: none;
}
li.actual > a {
    color: darkslateblue !important;
}
/** Liens de la page actuelle **/
.actual{
    background-color: white;
}
/** ACCESS DENIED **/
#access-denied{
    display:block;
    position: relative;
    width: 70%;
    height: 70%;
    border: 1px dotted grey;
    border-radius:15px;
    text-align: center;
    margin: 5% auto;
}
#access-denied > .container{
    padding-top: 10%;
}
/** LOADING */
/** https://loading.io/css/ */
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #ddd;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}