header {
display: block;
position:absolute;
top: 0px;
left: 0px;
width: 100%;
max-width: 100%;
height: 400px;
z-index: 4;
}
div.logoMenu{
position: absolute;
left: 20px;
z-index: 3;
}
div.boutonsMenu{
position: absolute;
top: 400px;
right: 15px;
z-index: 4;
}
div.boutonsSousmenu{
position: absolute;
top: 310px;
right: 4px;
z-index: 5;
}

div.limiteur{
background-color: black;
position: absolute;
top: 0px;
right: 250px;
width: 25px;
height: 1500px;
z-index: 2;
}
div.mini-limiteur{
    top:21px;
    position: relative;
    height: 9px;
}
div.corps{
position: absolute;
padding: 0%;
margin: 0%;
width: 100%;
left: 0px;
z-index: 3;
}
div.contenu{
padding: 0px 300px 100px 0px;
width: 75%;
min-height: 650px;
}
div.piedDePage{
height: 750px;
}
div.imagebd{
background: none;
position: absolute;
top: 400px;
right: 270px;
z-index: 2;
}
div.cadreArrondi{
border-width: 1px;
}
div.formulaire{
display: block;
}
div.telechargementEnCours{
display: none;
}


.bandeau-guerre-2022{
	z-index: 4 !important;
	top: 100px !important;
}