header {
position: absolute;
top: 0px;
right: 0px;
width: 100%;
height: 450px;
z-index: 4;
}
div.logoMenu{
position: relative;
left: 500px;
z-index: 3;
}
div.boutonsMenu{
position: fixed;
left: 5px;
bottom: 150px;	
z-index: 10;
}
div.boutonsSousmenu{
position: absolute;
top: 375px;
left: 50px;
z-index: 5;
}
div.limiteur{
background-color: black;
position: absolute;
top: 450px;
right: 0px;
width: 100%;
height: 35px;
z-index: 2;
}
div.mini-limiteur{
	top:21px;
	position: relative;
	height: 9px;
}
div.corps{
position: absolute;
width: 100%;
z-index: 3;
}
div.contenu{
width: 70%;
left: 0px; 
position: relative;
min-height: 1200px;

}
div.piedDePage{
height: 750px;
}
div.article{
position:relative;
}
div.gueuloir{
position:relative;
display:block;
width: 290px;
top: 550px;
left: 5px;
z-index: 4;
}
div.imagebd{
background: none;
position: absolute;
top: 450px;
right: 270px;
z-index: 2;
}
div.cadreArrondi{
border-width: 1px;
}
div.formulaire{
display: block;
}
div.telechargementEnCours{
display: none;
}

.bandeau-guerre-2022{
	z-index: 4 !important;
	right: 210px !important;
	top: 165px !important;
}

@media (max-width: 1100px) {
	div.boutonsMenu{
		position: absolute;
		top: 25px;
		padding: 15px;
	}
}
@media (max-width: 767px) {
	div.boutonsMenu{
		position: relative;
	}
}