/* ----------------------------------------------------------------
	Alert
-----------------------------------------------------------------*/
.alert {
    color: #ffffff;
    padding: 0.85rem 1.5rem;
    z-index: 9999;
}

.alert span[data-notify~="title"] {
    display: block;
    font-weight: bold;
}

.alert span.fas {
    font-size: 24px;
    float: left;
    padding-top: 10px;
    min-width: 40px;
    min-height: 40px;
}

.alert > .alert-icon {
    float: left;
}

.alert > .alert-icon i {
    font-size: 34px;
}

.alert > p {
    padding-left: 54px;
}

.alert.alert-primary {
    background-color: #2250fc;
    border-color: #093cfc;
}

.alert.alert-secondary {
    background-color: #5A6268;
    border-color: #4e555a;
}

.alert.alert-success {
    background-color: #81c868;
    border-color: #71c155;
}

.alert.alert-info {
    background-color: #53b0f8;
    border-color: #3aa5f7;
}

.alert.alert-danger {
    background-color: #CE041C;
    border-color: #b50419;
}

.alert.alert-warning {
    background-color: #ffb20e;
    border-color: #f4a600;
}

.alert.alert-light {
    color: #9896a6;
    background-color: #f8f9fa;
    border-color: #ececec;
}

.alert.alert-light .alert-link,
.alert.alert-light h1,
.alert.alert-light h2,
.alert.alert-light h3,
.alert.alert-light h4,
.alert.alert-light h5,
.alert.alert-light h6 {
    color: #9896a6;
}

.alert.alert-dark {
    background-color: #9896a6;
    border-color: #8a889a;
}

.alert h1,
.alert h2,
.alert h3,
.alert h4,
.alert h5,
.alert h6,
.alert .alert-link {
    color: #ffffff;
}

.alert [data-notify="progressbar"] {
    height: 2px !important;
    margin-top: 8px;
}

.avatar {
    flex-shrink: 0;
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 50%;
}

.avatar .avatar-lg {
    width: 3rem;
    height: 3rem;
}

.avatar .avatar-sm {
    width: 1.5rem;
    height: 1.5rem;
}

.avatar-lg {
    width: 3rem;
    height: 3rem;
}

.avatar-sm {
    width: 1.5rem;
    height: 1.5rem;
}

ul.avatars {
    display: flex;
    padding: 0;
    list-style: none;
}

ul.avatars > li:not(:last-child) {
    margin-right: -0.375rem;
}

@media (min-width: 1024px) {
    .avatar.avatar-lg {
        width: 4.5rem;
        height: 4.5rem;
    }
}

.close {
    float: right;
    position: relative;
    display: block;
    top: -20px;
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.close:hover {
    color: #000;
    text-decoration: none
}

.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
    opacity: .75
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

a.close.disabled {
    pointer-events: none
}