div.limiteur{
background-color: black;
position: absolute;
top: 435px;
left: 0px;
width: 100%;
height: 55px;
z-index: 70;
}
div.mini-limiteur{
background-color: white;
position: relative;
top: 15px;
right: 0px;
width: 100%;
height: 15px;
z-index: 70;
}
div.menu{
position: absolute;
top: 0px;
left: 0px;
right: 0px;
margin: auto;
padding: auto;
width: auto;
height: auto;
z-index: 72;
}
#menu{
width: auto !important;
}
div.entete{
background-color: #663333;
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 450px;
z-index: 71;
}
div.logoMenu{
position: absolute;
left: 380px;
}
div.boutonsMenu{
position: absolute;
left: 5px;
top: 427px;
margin: 1px;
width: 1200px;
-webkit-transition: all 200ms ease-in;
-moz-transition: all 200ms ease-in;
-o-transition: all 200ms ease-in;
-ms-transition: all 200ms ease-in;
transition: all 200ms ease-in;
}
div.sousmenu{
position: absolute;
top: 350px;
right: 25px;
z-index: 73;
-webkit-transition: all 400ms ease-out;
-moz-transition: all 400ms ease-out;
-o-transition: all 400ms ease-out;
-ms-transition: all 400ms ease-out;
transition: all 400ms ease-out;
}
div.corps{
position: absolute;
padding: 0%;
margin: 0%;
width: 100%;
top: 450px;
left: 0px;
z-index: 3;
}
div.contenu{
padding: 0px 0px 100px 10px;
width: 75%;
min-height: 1000px;
}
div.piedDePage{
background-color: #cccccc;
background-image: url(../../images/FinDePage-2.png);
background-repeat: repeat-x;
height: 750px;
}
div.article{
position:relative;
}
div.gueuloir{
position:absolute;
display:block;
width: 20%;
top: 450px;
right: 10px;
z-index: 4;
}

div.imagebd{
background-color: none;
position: absolute;
top: 400px;
right: 270px;
z-index: 2;
}
div.cadreArrondi{
border-width: 1px;
}
div.formulaire{
display: block;
}
div.telechargementEnCours{
display: none;
}

	@media ( min-width : 641px ) and ( max-width: 1100px ){
		div.corps{
		}
		div.contenu{
			width: 100%;
		}
		div.boutonsMenu{
		right:25px;
		}
		div.sousmenu{
		right: 5px;
		}
	}