div.limiteur{
background-color: black;
position: absolute;
top: 400px;
right: 0px;
width: 100%;
height: 50px;
z-index: 70;
}
div.mini-limiteur{
background-color: white;
position: relative;
top: 15px;
right: 0px;
width: 100%;
height: 15px;
z-index: 70;
}
div.menu{
position: absolute;
top: 0px;
right: 0px;
width: auto;
height: auto;
z-index: 72;
}
div.entete{
background-color: #663333;
position: absolute;
top: 0px;
right: 0px;
width: 100%;
height: 400px;
z-index: 71;
}
div.logoMenu{
position: absolute;
left: 10px;
}
div.boutonsMenu{
position: absolute;
right: 250px;
top: 50px;
-webkit-transition: all 200ms ease-in;
-moz-transition: all 200ms ease-in;
-o-transition: all 200ms ease-in;
-ms-transition: all 200ms ease-in;
transition: all 200ms ease-in;
}
div.sousmenu{
position: absolute;
top: 330px;
left: 500px;
z-index: 72;
-webkit-transition: all 400ms ease-out;
-moz-transition: all 400ms ease-out;
-o-transition: all 400ms ease-out;
-ms-transition: all 400ms ease-out;
transition: all 400ms ease-out;
}
div.corps{
position: absolute;
padding: 0%;
margin: 0%;
width: 100%;
top: 450px;
left: 0px;
z-index: 3;
}
div.contenu{
	padding: 7%;
	width: 82%;
}
div.piedDePage{
background-color: #cccccc;
background-image: url(../../images/FinDePage-2.png);
background-repeat: repeat-x;
height: 750px;
}
div.article{
position:relative;
}
div.gueuloir{
position:relative;
display: none;
}

div.imagebd{
background-color: none;
position: absolute;
top: 400px;
right: 270px;
z-index: 2;
}
div.cadreArrondi{
border-width: 1px;
}
div.formulaire{
display: block;
}
div.telechargementEnCours{
display: none;
}

	@media ( min-width : 641px ) and ( max-width: 1100px ){
		div.menu{
		}
		div.logoMenu{
		}
		div.boutonsMenu{
		}
		div.sousmenu{
		left: clear;
		right: 25px;
		}
	}