@import url(http://fonts.googleapis.com/css?family=EB+Garamond);
body{
font-family: Garamond, EB Garamond, Georgia, Symbol, Times New Roman, Courrier New, Impact, Webding, Garuda, Arial, Comic Sans MS,  Verdana, Helvetica, Monospace;
}



